.profile__info{
  max-width: calc(100% - 336px);
  margin: 0 auto 0 0;
}

@media screen and (max-width: 727px) {
  .profile__info{
    max-width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 384px) {
  .profile__info{
    max-width: 85%;
  }
}

